In [3]:
# import tensorflow as tf

# classifier = tf.estimator.LinearClassifier()

# classifier.train(input_fn=train_input_fn, steps=2000)

# predictions = classifier.predict(input_fn=predict_input_fn)


from __future__ import print_function

import math

from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt

import numpy as np
import pandas as pd

from sklearn import metrics
import tensorflow as tf


pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

In [4]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.cn/mledu-datasets/california_housing_train.csv", sep=",")

In [5]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
13886,-122.0,38.2,35.0,1940.0,384.0,1177.0,403.0,3.1,101.1
6859,-118.3,33.9,40.0,2434.0,477.0,1646.0,453.0,3.2,128.0
605,-117.0,34.0,26.0,3501.0,664.0,1860.0,681.0,3.0,113.5
12017,-121.4,38.5,12.0,7290.0,1283.0,3960.0,1248.0,3.6,106.3
9023,-119.0,35.4,27.0,2473.0,400.0,1271.0,427.0,3.6,89.1
...,...,...,...,...,...,...,...,...,...
2572,-117.7,34.0,15.0,3393.0,653.0,2039.0,611.0,3.9,151.0
16047,-122.5,38.3,24.0,1946.0,400.0,718.0,380.0,3.6,257.9
2618,-117.7,34.0,12.0,5616.0,871.0,3019.0,782.0,5.5,202.3
5517,-118.2,34.1,35.0,2568.0,672.0,1696.0,605.0,2.9,169.2
3323,-117.9,33.8,26.0,411.0,114.0,448.0,95.0,1.7,350.0

In [6]:
california_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0
mean,-119.6,35.6,28.6,2643.7,539.4,1429.6,501.2,3.9,207.3
std,2.0,2.1,12.6,2179.9,421.5,1147.9,384.5,1.9,116.0
min,-124.3,32.5,1.0,2.0,1.0,3.0,1.0,0.5,15.0
25%,-121.8,33.9,18.0,1462.0,297.0,790.0,282.0,2.6,119.4
50%,-118.5,34.2,29.0,2127.0,434.0,1167.0,409.0,3.5,180.4
75%,-118.0,37.7,37.0,3151.2,648.2,1721.0,605.2,4.8,265.0
max,-114.3,42.0,52.0,37937.0,6445.0,35682.0,6082.0,15.0,500.0

In [7]:
my_feature = california_housing_dataframe[["total_rooms"]]
feature_columns = [tf.feature_column.numeric_column("total_rooms")]

In [8]:
my_feature

       total_rooms
13886       1940.0
6859        2434.0
605         3501.0
12017       7290.0
9023        2473.0
...            ...
2572        3393.0
16047       1946.0
2618        5616.0
5517        2568.0
3323         411.0

[17000 rows x 1 columns]

In [9]:
feature_columns

[NumericColumn(key='total_rooms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [10]:
targets = california_housing_dataframe["median_house_value"]

In [11]:
from tensorflow.keras import optimizers
my_optimizer = optimizers.SGD(lr=0.0000001, clipnorm=5.0)

linear_regressor = tf.estimator.LinearRegressor(
    feature_columns=feature_columns,
    optimizer=my_optimizer
)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/6j/ltp_32c51_l4x_1dmb3mvf0h0000gn/T/tmp_co5s6mb
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/6j/ltp_32c51_l4x_1dmb3mvf0h0000gn/T/tmp_co5s6mb', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}